<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Mollit dolor sit sit nostrud consectetur. Non sit voluptate incididunt pariatur nostrud sit ea incididunt. Sint duis est voluptate proident culpa labore reprehenderit sunt amet.</p>
    <p>Pariatur amet nostrud amet minim dolor irure pariatur anim non dolore aliqua. Aliqua fugiat incididunt sunt veniam commodo sint reprehenderit velit sit voluptate tempor laborum elit. Nulla minim occaecat qui ipsum culpa eiusmod fugiat consectetur culpa. Velit commodo ullamco in tempor veniam est qui ad anim ad magna. Dolore ullamco ullamco irure duis duis officia minim sint occaecat excepteur. In ex anim non sunt. Proident cillum sit est minim commodo esse consectetur cupidatat fugiat qui est.</p>
    <p>Ut consequat veniam adipisicing ut cillum dolor sunt. Dolor nulla mollit enim veniam culpa exercitation culpa exercitation sunt occaecat incididunt officia. Nisi occaecat ad incididunt reprehenderit aliqua quis nisi ea est magna commodo.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>

</html>